@import './base.module.styl'

.wrapper
  --color tomato
  --font-size 30px
  .bg
    background url('@/assets/images/logo.svg')
    color var(--base-color)
    font-size var(--font-size)
    display flex
  .title
    font-size var(--font-size)
    color var(--color)
    text-align center